@import "~sass-mq/mq";

:host {
  display: block;
}

.footer {
  margin-top: 135px;
  margin-bottom: 45px;

  @include mq($until: desktop) {
    margin-top: 55px;
    margin-bottom: 0;
    padding-bottom: 35px;
  }

}

.footer__copyright {
  margin-bottom: 10px;
  color: #546e7a;
  font-size: 13px;
  text-align: center;

  @include mq($until: desktop) {
    margin-bottom: 20px;
  }

}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__link {

  font-size: 14px;
  color: #1400db;
  font-weight: 700;
  text-decoration: none;

  + .footer__link {
    margin-left: 15px;

    @include mq($until: desktop) {
      margin-left: 30px;
    }

  }
}
