@import "~sass-mq/mq";

:host {
  display: block;
}

.win-content {
  background-image: linear-gradient(295deg, rgba(255,255,255,0.05) 35%, rgba(255,255,255,0.25) 100%), url('/assets/modal.svg');
  background-repeat: no-repeat;
  background-position: -2px -2px;
  background-size: 45% auto;

  padding: 25px 50px 50px 20px;

  display: grid;
  min-width: 0;
  // background-color: red;

  grid-template-areas:
    "image heading"
    "image text";

  grid-column-gap: 20px;
  grid-row-gap: 12px;

  @include mq($until: desktop) {
    background-size: 130% auto;
    grid-template-areas:
      "heading"
      "image"
      "text";
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding: 35px 15px;
  }

}
.win-content__column {
  // width: 50%;
  // flex-shrink: 0;
  // padding-left: 10px;
  // padding-right: 10px;
}

.win-content__image-container {
  grid-area: image;
  flex-shrink: 0;
  // background-color: green;
}

.win-content__phone-image {
  object-fit: scale-down;
  display: block;
  max-width: 100%;
  height: auto;
  width: 400px;

  @include mq($until: desktop) {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    // background-color: #000000;
    // background-color: #000000;
    // margin-bottom: 5px;
  }

}


.win-content__heading-container {
  grid-area: heading;
  // background: blue;
}

.win-content__heading {
  font-size: 24px;
  margin-top: 50px;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #1400db;
  line-height: 1.5;
  text-align: center;

  @include mq($until: desktop) {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFF;
  }

}

.win-content__text-container {
  grid-area: text;
  // background: yellow;
  @include mq($until: desktop) {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.win-content__description {
  color: #455a64;
  font-size: 18px;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 45px;

  @include mq($until: desktop) {
    margin-bottom: 30px;
  }
}

.win-content__sign-up-action {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  background: rgb(251,159,157);
  cursor: pointer;
  background: linear-gradient(90deg, rgba(251,159,157,1) 0%, rgba(251,109,116,1) 100%);
  background-repeat: no-repeat;
  box-shadow: 0 18px 35px rgba(#fa7875, 0.42);
  text-align: center;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 18px;
  line-height: 60px;
}
