<div class="win-content">
  <div class="win-content__image-container">
    <!-- <img
      src="../../assets/iphone.png"
      alt="iPhone Image"
      width="332"
      height="564"
      class="win-content__phone-image"
      /> -->
  </div>

  <div class="win-content__heading-container">
    <h2 class="win-content__heading">
      <div>WOW! YOU WON!</div>
      <div>A CHANCE TO GET FREE </div>
      <div>IPHONE XS</div>
    </h2>
  </div>

  <div class="win-content__text-container">
    <p class="win-content__description">
        On a similar note, don’t try to fit in the fun stuff on an evening or weekend when you need to be working. If you’re trying to squeeze in writing a blog post during the commercial breaks of American Idol.
    </p>

    <button
      class="win-content__sign-up-action"
      type="button"
      >
      Sign Up
    </button>
  </div>
</div>
