<div class="win-content">

  <h2 class="
    win-content__heading
    win-content__heading--ahead
    ">
    <div>WOW! YOU WON!</div>
    <div>A CHANCE TO GET FREE </div>
    <div>IPHONE XS</div>
  </h2>

  <div class="win-content__flex">
    <div class="win-content__image-container">
        <img
          (onLoad)="handleImageLoad()"
          lazyLoad="../../assets/iphone.png"
          alt="iPhone Image"
          class="win-content__phone-image"
          [ngStyle]="isImageLoading && { opacity: 0 }"
          />
      <div
        *ngIf="isImageLoading"
        class="lds-ripple lds-ripple--dark"><div></div><div></div></div>
    </div>

    <div class="win-content__information-container">
      <h2 class="win-content__heading">
        <div>WOW! YOU WON!</div>
        <div>A CHANCE TO GET FREE </div>
        <div>IPHONE XS</div>
      </h2>

      <div class="win-content__text-container">
        <p class="win-content__description">
            On a similar note, don’t try to fit in the fun stuff on an evening or weekend when you need to be working. If you’re trying to squeeze in writing a blog post during the commercial breaks of American Idol.
        </p>

        <button
          class="win-content__sign-up-action"
          type="button"
          >
          Sign Up
        </button>
      </div>

    </div>
  </div>

</div>
