:host {
  display: block;
}

.counter {

  ::ng-deep {
    .flipdown {
      display: flex;
      justify-content: center;
    }

    .flipdown .rotor-group:nth-of-type(1) {
      display: none;
    }
  }

}
