
<div
  class="wheel-container"

  >

  <div
    *ngIf="wheelService.isImageLoading"
    class="lds-ripple"><div></div><div></div></div>

  <div
    [ngStyle]="wheelService.isImageLoading && { opacity: 0 }"
    class="wheel-pointer"
    ></div>
  <div
    class="wheel"
    [ngStyle]="wheelService.isImageLoading && { opacity: 0 }"
    [@rotate]="wheelService.rotateState"
    (@rotate.start)="handleAnimationStart()"
    (@rotate.done)="handleAnimationEnd()"
    >
      <img
        loading="lazy"
        (load)="handleImageLoad()"
        class="wheel-content-image"
        src="assets/wheel-inner.png"
        />
  </div>

  <!-- [@highlight]="wheelService.highlightState"
  (@highlight.start)="handleActionAnimationStart()"
  (@highlight.done)="handleActionAnimationEnd()" -->
  <button
    (click)="handleStartAction()"
    type="button"
    class="wheel__start-action"
    [ngStyle]="wheelService.isImageLoading && { opacity: 0 }"
    [ngClass]="{
      'wheel__start-action--is-try-again': !wheelService.isAnimationInProgress && wheelService.rotateState === 'loose',
      'wheel__start-action--is-animated': wheelService.rotateState !== 'win'
    }"
    [disabled]="(wheelService.isImageLoading || wheelService.isAnimationInProgress || wheelService.rotateState === 'win')"
    >
    <div
      *ngIf="!(wheelService.isImageLoading || wheelService.isAnimationInProgress || wheelService.rotateState === 'win')"
      [textContent]="wheelService.actionLabel"
      ></div>
  </button>
</div>
