@import "~sass-mq/mq";

:host {
  display: block;
}

.wheel-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.wheel-pointer {
  height: 0;
  width: 71px;
  padding-bottom: 20%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(calc(-50% + 1px));
  z-index: 2;
  background-image: url("../../assets/pointer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

.wheel__start-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  width: 175px;
  height: 175px;
  background-color: #1400db;
  background-clip: padding-box;
  border: 20px solid rgba(255,255,255,0.25);
  border-radius: 50%;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  display: block;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.25);
  touch-action: manipulation;

  transform-origin: center;

  &:focus,
  &:active {
    outline: none;
  }
  &[disabled] {
    color: #E9E9E9;
    cursor: not-allowed;
    opacity: 0.75;
  }

  @include mq($until: tablet) {
    font-size: 16px;
    border-width: 10px;
  }


}

@keyframes scale {
  0%   {
    opacity: 0.975;
    transform: translate(-50%, -50%) scale(0.750);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.wheel__start-action--is-try-again {
  background-color: darken(rgba(251,109,116,1), 5%);
}
.wheel__start-action--is-animated {
  animation: scale 1s infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

.wheel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/spin.svg');
  background-repeat: no-repeat;
  background-size: contain;
  will-change: transform;
  transform-origin: center center;
}

.wheel-content-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 82%;
  height: 82%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
