@import "~sass-mq/mq";

.headline {
  padding-top: 172px;
  padding-bottom: 20px;
  background-image: url('/assets/headline.svg');
  background-repeat: no-repeat;
  background-position-y: -50px;
  background-size: cover;

  @include mq($until: tablet) {
    padding-top: 70px;
    padding-bottom: 40px;
    background-image: none;
    background-position-y: 0;
    background-color: #1105DB;
    margin-bottom: 20px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -8%;
      left: 0;
      right: 0;
      width: 100%;
      height: 8%;
      background-image: url('/assets/headline.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: bottom;
      display: block;
      z-index: 1;
    }

  }

}

.headline__container {
  width: 80%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: minmax(480px, 1fr) minmax(450px, 650px);
  grid-gap: 65px;
  min-width: 0;

  // border: 5px solid red;

  // > div {
  //   border: 5px solid #000;
  // }

  @include mq($until: wide) {
    width: 95%;
    grid-gap: 35px;
    // border: 5px solid red;
    // grid-template-columns: 1fr minmax(450px, 650px);
  }

  @include mq($until: 1020px) {
    width: 95%;
    display: block;
    // border: 5px solid green;
  }

}

.headline__container-counter {

  flex-shrink: 0;

  @include mq($until: desktop) {
    margin-bottom: 30px;
  }

}

.headline__container-counter-heading {
  margin-bottom: 45px;
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 0;
  // padding-left: 72px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 2px;

  @include mq($until: wide) {
    font-size: 32px;
    margin-bottom: 15px;
    // background-color: #000000;
  }

}

.headline__counter-element-container {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;

  @include mq($until: wide) {
    margin-bottom: 25px;
  }

}

.headline__container-counter-description {
  margin-top: 0;
  padding-top: 20px;
  display: block;
  font-size: 20px;
  color: #FFF;
  line-height: 1.75;

  @include mq($until: wide) {
    margin-bottom: 25px;
    font-size: 18px;
  }

  @include mq($until: desktop) {
    padding-left: 25px;
    padding-right: 25px;
    // background-color: purple;
  }

}

// .headline__spin-it-up-action {
//   background-color: #ff496f;
//   border-radius: 2px;
//   font-family: 'Nunito', sans-serif;
//   margin-left: auto;
//   margin-right: auto;
//   letter-spacing: 1px;
//   color: #FFF;
//   font-size: 18px;
//   text-align: center;
//   padding: 18px 60px;
//   display: block;
//   border: none;
//   cursor: pointer;
//   white-space: nowrap;
//   touch-action: manipulation;

//   @include mq($until: wide) {
//     padding: 15px 45px;
//     font-size: 16px;
//   }

// }

.headline__container-wheel {
  padding-top: 15px;
  flex-shrink: 0;

  @include mq($until: 1020px) {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

}
