<div class="headline">
  <div class="headline__container">
    <!-- Counter Container -->
    <div class="headline__container-counter">
      <h1
        class="headline__container-counter-heading"
        [textContent]="data.title[localeService.locale]"
        >
      </h1>
      <div class="headline__counter-element-container">
        <app-counter></app-counter>
      </div>
      <p
        class="headline__container-counter-description"
        [innerHtml]="description"
        ></p>
    </div>
    <!-- / Counter Container -->
    <!-- Wheel Container -->
    <div class="headline__container-wheel">
      <app-wheel></app-wheel>
    </div>
    <!-- / Wheel Container -->
  </div>
</div>
