.headline {
  padding-top: 172px;
  padding-bottom: 120px;
  background-image: url('/assets/headline.svg');
  background-repeat: no-repeat;
  background-position-y: -50px;
  background-size: cover;
}

.headline__container {
  width: 1500 / 1900 * 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 0.575fr minmax(650px, 1fr);
  grid-column-gap: 65px;
  min-width: 0;
}

.headline__container-counter {
  // border: 5px solid black;
  // margin-right: 35px;
  // flex-shrink: 1;
  // flex-grow: 0;
  // width: 50%;
  // max-width: 50%;
}

.headline__container-counter-heading {
  margin-bottom: 35px;
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 0;
  // padding-left: 72px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 2px;
}

.headline__counter-element-container {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.headline__container-counter-description {
  margin-bottom: 45px;
  margin-top: 0;
  font-size: 20px;
  color: #FFF;
  line-height: 1.75;
}

.headline__spin-it-up-action {
  background-color: #ff496f;
  border-radius: 2px;
  font-family: 'Nunito', sans-serif;
  // margin-left: 155px;
  margin-left: auto;
  letter-spacing: 1px;
  margin-right: auto;
  // text-transform: uppercase;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  padding: 18px 60px;
  display: block;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.headline__container-wheel {
  padding-top: 15px;
  // border: 5px solid #000;
  // width: 50%;
  // max-width: 650px;
  // min-width: 350px;
  flex-shrink: 0;
}
