<div class="headline">
  <div class="headline__container">
    <!-- Counter Container -->
    <div class="headline__container-counter">

      <h1 class="headline__container-counter-heading">
        Offer Expires In
      </h1>

      <div class="headline__counter-element-container">
        <app-counter></app-counter>
      </div>

      <p class="headline__container-counter-description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
      </p>

      <button
        class="headline__spin-it-up-action"
        >
        SPIN IT UP
      </button>

    </div>
    <!-- / Counter Container -->

    <!-- Wheel Container -->
    <div class="headline__container-wheel">
      <app-wheel></app-wheel>
    </div>
    <!-- / Wheel Container -->
  </div>
</div>
