@import "~sass-mq/mq";

:host {
  display: block;
}

.modal {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translate3d(0, 0, 1px);
  background-color: rgba(0,0,0,0.5);
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-window {
  margin-left: auto;
  margin-right: auto;
  z-index: 10002;
  width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
}

.modal-header {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  // padding-bottom: 15px;
}

.modal-header__close-action {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  background-image: url('/assets/cancel.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  &:active {
    opacity: 0.95;
    transform: scale(0.95);
  }
}

.modal-content {
  flex-grow: 1;
  overflow-y: auto;
  border-radius: 25px;
  background-color: #fff;
  overscroll-behavior: contain;
}
