@import './assets/libs/normalize.scss';
@import './assets/libs/owl.scss';
@import './assets/libs/ripple/ripple.scss';

html {
  -webkit-text-size-adjust: none;
  height: 100%;
}

body {
  background-color: #fbfcfc;
  height: 100%;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  font-family: 'Maven Pro', sans-serif;
}
