<div class="comment">
    <header class="comment__header">
      <div class="comment__user-avatar">
        <img
          loading="lazy"
          [src]="comment.avatar"
          class="comment__user-avatar-image"
          />
      </div>
      <div class="comment__user-info">
        <span
          class="comment__user-name"
          [textContent]="comment.name[localeService.locale]"
          ></span>
        <span class="comment__user-divider">, </span>
        <span
          class="comment__user-state"
          [textContent]="comment.state[localeService.locale]"
          ></span>
      </div>
    </header>
    <section class="comment__content">
      <p
        class="comment__content-text"
        [innerHtml]="comment.message[localeService.locale]"
        ></p>
    </section>
</div>
