<div class="comment">
    <header class="comment__header">
      <div class="comment__user-avatar">
        <img
          src="../../assets/user-avatar.png"
          class="comment__user-avatar-image"
          />
      </div>
      <div class="comment__user-info">
        <span class="comment__user-name">{{ comment.name }}</span>
        <span class="comment__user-divider">, </span>
        <span class="comment__user-state">{{ comment.state || 'NY' }}</span>
      </div>
    </header>
    <section class="comment__content">
      <p class="comment__content-text">
        {{ comment.message }}
      </p>
    </section>
</div>
